<%- include("partials/header"); -%>

<%- include("partials/navbar"); -%>

<div class="card mb-3" style="width: 50%;margin:auto;margin-top: 100px;" id="card">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%= user.image %>" id="ProfilePicture" style="width: 80%;" alt="Your photo">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><b>Name</b> <%= user.name %></h5>
          <p class="card-text"> 
            <p><b>Age: </b><%= user.age %> </p>
            <p><b>E-mail</b> <%= user.email %> </p>
            <p><b>PROFESSOR/STUDENT: </b> <%= user.profession %> </p>
            <p><B>STUDIES: </B>  
                <ul>
                    <% user.studies.forEach((studies, index) => { %>
                        <li class="clearfix active">
                            <%= user.studies %>
                        </li>
                    <% }) %>
                </ul>
            </p>
          </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

<%- include("partials/footer"); -%>